@{ 
    ViewBag.Title = "Criminal Station Forum";
}

<div class="container">
    <h2 class="heading-margin text-center text-dark">@ViewBag.Title</h2>
    <nav class="nav flex-column float-left">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Topics</a>
        <a class="nav-link" href="#">Search</a>
        <a class="nav-link" href="#">News</a>
    </nav>
    <div class="container">Context here</div>
    @*<a asp-controller="Home" asp-action="Index">Back to the Criminal Station Web Site</a>*@
</div>