@inject UserManager<Account> userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Criminal Station</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/shoppingCart.css" />
    <link rel="icon" href="https://img.icons8.com/office/16/000000/crime.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Criminal Station</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Market" asp-action="All">Market</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="MyAdds" asp-action="CurrentAdds">My Adds</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Item" asp-action="Create">Add Item</a>
                            </li>
                        }
                    </ul>
                    <a class="mr-3" asp-controller="ShoppingCart" asp-action="Index">
                        <img class="img-cart" src="~/shoppingCart.png">
                    </a>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @{
                var message = TempData[Criminal_Web_Station.WebConstats.Message];
                var warning = TempData[Criminal_Web_Station.WebConstats.Warning];
            }
            @if (message != null)
            {
                <div class="alert alert-success alert-message-home text-center" role="alert">
                    @message
                </div>
            }
            @if (warning != null)
            {
                <div class="alert alert-warning alert-message-home text-center" role="alert">
                    @warning
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Criminal_Web_Station - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

<script>
    $(".alert-message-home").show().delay(5000).fadeOut();
</script>
