@model ItemInputFormModel

<div class="container">
    <h2 class="heading-margin text-center text-dark">@ViewBag.Title</h2>
    <form method="post">
        <div class="form-group col-md-6">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Name" for="exampleFormControlInput1"></label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger text-sm-left small"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="text" class="form-control">
            <span asp-validation-for="Price" class="text-danger text-sm-left small"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Weight" for="exampleFormControlInput1"></label>
            <input asp-for="Weight" type="text" class="form-control">
            <span asp-validation-for="Weight" class="text-danger text-sm-left small"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="MainImgUrl" for="exampleFormControlInput1"></label>
            <input asp-for="MainImgUrl" type="text" class="form-control">
            <span asp-validation-for="MainImgUrl" class="text-danger text-sm-left small"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Description" for="exampleFormControlTextarea1"></label>
            <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger text-sm-left small"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-secondary float-md-none">Sumbit</button>
                </div>
            </div>
        </div>
    </form>
</div>